<div class="container">
    <p><span style="color: blueviolet;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis sagittis nisl, eu accumsan justo auctor id. 
            Sed nec quam eu orci tincidunt tincidunt sit amet a orci. Nam nec dolor ut libero commodo sodales. Duis vel augue id 
            justo ultrices tristique vel vitae felis. Vivamus a sem eu elit ultrices finibus eget vel nisi. Integer fringilla 
            cursus lacus, nec tincidunt felis efficitur ac.
        </span>
        <br><br>
        <span style="color: orangered;">
            Vestibulum eu convallis mauris. Quisque vel lectus ac mauris bibendum rhoncus. Integer non augue ut libero convallis 
            tincidunt. Phasellus interdum feugiat ex, vel commodo leo varius sit amet. Proin in efficitur metus. Curabitur 
            fermentum tristique neque, vel vehicula elit hendrerit eu. Morbi vitae imperdiet justo. Praesent vel sem et nulla 
            ultricies scelerisque.
        </span>
        <br><br>
        <span style="color: blueviolet;">
            Aenean fermentum felis eu accumsan luctus. Vivamus nec ante nec felis bibendum facilisis. In hac habitasse platea 
            dictumst. Etiam at magna a nunc sollicitudin congue vel in dolor. Aliquam gravida, ligula ut consequat vulputate, 
            massa lectus interdum justo, ut dapibus quam dui nec sem. Maecenas ut purus id lectus posuere blandit. Suspendisse id 
            sapien at elit facilisis tincidunt. Curabitur dignissim, elit vel viverra rhoncus, justo elit bibendum dui, at 
            tincidunt nulla lacus non ex.
        </span>
        <br><br>
        <span style="color: orangered;">
            Donec ac justo at ex luctus dictum nec vel ligula. Suspendisse potenti. Duis ac odio et lectus bibendum luctus at ut 
            lacus. Integer vel tincidunt enim. Fusce nec est purus. Nunc ullamcorper est eu velit cursus, ac sodales metus pulvinar. 
            Morbi sodales velit vel tortor scelerisque, ut varius metus sagittis. Vivamus in ante nec purus laoreet consectetur 
            vel in dui. Sed in nulla ac nisl scelerisque facilisis sit amet in justo. Integer ac varius ligula. Curabitur non ex 
            vitae augue eleifend facilisis ac in sapien.
        </span>
    </p>
</div>